
body {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}

.api-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background: #f9f9f9;
}

#ketQua {
    background: #ffdf99;
    color: #4e63ff;
    padding: 15px;
    min-height: 50px;
    font-family: 'Poppins', sans-serif;
}